<table width="100%">
	<%
	var i; 
	for(i=0; i< quizes.length; i++){ 
	%>
		<tr>
			<td align="right" width="50%">
				<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
			</td>
			<% if(session.user){ %>
				<td align="right" width="25%">
					<a href="quizes/<%=quizes[i].id%>/edit"><button>editar</button></a>
				</td>
				<td align="left" width="25%">
					<form method="post" action="quizes/<%=quizes[i].id%>?_method=delete">
						<button type="submit" onClick="return confirm('Borrar: <%=quizes[i].pregunta%>');">
							borrar
						</button>
					</form>
				</td>
			<% }else{ %>
				<td align="right" width="25%">
					&nbsp;
				</td>
				<td align="left" width="25%">
					&nbsp;
				</td>
			<% } %>
		</tr>
	<%
	}
	%>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<% if(session.user){ %>
			<td align="right">
				<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
			</td>
		<% } %>
		<td align="center" colspan="2">
			<form method="get" action="/quizes" >
				<input type="text" name="search" placeholder="Busca una pregunta"/>
				<input type="submit" value="Buscar"/> 
			</form>
		</td>
	</tr>
</table>
